html, body { 
text-align: center;
height: 100%;
}
body {
	background:url('/images/bg.png') no-repeat bottom left;
	padding: 0;
	margin: 0;
}

body, p, ol, ul, td, input {
  font-family: helvetica, arial, sans-serif;
  font-size:   18px;
  line-height: 24px;
}


pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }
a.shortened { color: green; text-decoration: none; font-weight: bold;}
a.shortened:hover { background-color: green; color: white;}


.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

p.error {
  color: red;
}

label
{text-align:left;

  float: left;
}

form input.forminput {
  text-align:left;
  width: 50%;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}
h1 {
font: normal 2.0em Georgia, "Times New Roman", Times, serif;
margin: 0 0 20px;
padding: 10px 0;
font-weight: normal;
text-align: center;
text-shadow: 1px 1px 1px #ccc; /*--Not supported by IE--*/
}
h1 span {
color: #cc0000;
font-weight: bold;

}
h1 small {
font-size: 0.55em;
text-transform: uppercase;
color: #999;
font-family: Arial, Helvetica, sans-serif;
text-shadow: none;
display: block; /*--Keeps the small tag on its own line--*/
}
#info {
	background: url(/images/transpBlack.png);
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 50px;
	text-align: center;
	color: white;
	font-size: 50px;
	z-index: 6000;
	
}
#wrapper {
background: url(/images/transpYellow.png);
position: relative;   /* positions content on top of distance */
text-align: left;     /* horizontal centering hack for IE */
height: 23em;         /* required - desired height */
width: 40em;          /* required - desired width */
margin: 0 auto;       /* required */
clear: left;
}
#distance { 
	margin-bottom: -5em; /* half of content height */
	background: red;      /* temporary - used to see div */
	width: 1px;           /* required to "hide" distance div */
	height: 25%;          /* required */
	float: left;          /* required */

}
a.button {
    background: transparent url('/images/bg_button_a.gif') no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 24px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}

a.button span {
    background: transparent url('/images/bg_button_span.gif') no-repeat;
    display: block;
    line-height: 14px;
    padding: 5px 0 5px 18px;
} 
a.button:active {
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}

a.button:active span {
    background-position: bottom left;
    padding: 6px 0 4px 18px; /* push text down 1px */
}