<script type="text/javascript">function loadStats(){
 FB.Facebook.apiClient.fql_query("SELECT name, pic FROM user WHERE uid=211031",
                                 function(rows) {
                                   alert("Hello, " + rows[0].name);
                                 });


 </script>
<a href="#" class="button" onclick="loadStats(); return false;"><span>Load Stats</span></a>
