<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta name="title" content="Weebe.es - Facebook Link Shortener & Sharer" /> 
  <meta name="description" content="An easy way to share links to your Facebook Profile and Pages" /> 
  <link rel="image_src" href="http://coactlab.com/screenshots/galleries/screenshots/523c06be1f8a01467a155cbd5950baa1.png" />
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <title>Weebe.es - Facebook Link Shortener & Sharer</title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
	<body>
<script src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php/en_US" type="text/javascript"></script><script type="text/javascript">FB.init("c5d184ee00b43fbf13a20a1c46479a0b");</script>
		<div id="info">
		<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fweebe.es&amp;layout=standard&amp;show-faces=true&amp;width=450&amp;action=like&amp;colorscheme=light" scrolling="no" frameborder="0" allowTransparency="true" style="border:none; overflow:hidden; width:450px; height:px"></iframe>  | add the bookmarklet<%= link_to image_tag("weebees.png",:border=>0), "javascript:location.href='http://" + @host + "/?url='+encodeURIComponent(location.href);" %> to your toolbar &uarr; to share any website with weebe.es</div>
<div id="distance"></div>
<div id="wrapper">
<h1><span><a href="/">Weebe.es</a></span><br>Facebook Link Shortener & Sharer<small><a href="http://coactlab.com/blog"> By Coactlab</a></small>
<h2>Get Started:</h2>
<div id="explation"></div>

<%= yield %>
</div>
<div id="fbbox">
<fb:fan profile_id="327364725313" stream="0" connections="0" width="200" height="70" ></fb:fan>
</div>

<script type="text/javascript" charset="utf-8">
  var is_ssl = ("https:" == document.location.protocol);
  var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
  document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
</script>

<script type="text/javascript" charset="utf-8">
  var feedback_widget_options = {};
  feedback_widget_options.display = "overlay";  
  feedback_widget_options.company = "coactlab";
  feedback_widget_options.placement = "right";
  feedback_widget_options.color = "#222";
  feedback_widget_options.style = "problem";
var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
</script>
</body>
</html>