<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Weebe.es - The Social Link Shortener- Coactlab</title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>
 
<div id="distance"></div>
<div id="wrapper">
<h1><span><a href="/">Weebe.es</a></span> The Social Link Shortener<small><a href="http://coactlab.com/blog"> By Coactlab</a></small>
<h2>Share to  <a href="http://www.twitter.com/">Twitter</a>, <a href ="http://www.facebook.com">Facebook,</a> & <a href="http://www.facebook.com/advertising/?pages">Facebook Pages</a></h2>
<%= yield %>
</div>
<div id="info">
<p>Bookmarklet for your browser: <%= link_to image_tag("bookmarklet.png",:border=>0), "javascript:location.href='http://" + @host + "/?url='+encodeURIComponent(location.href);" %> &uarr;
(drag and drop to your toolbar to share from any site)
</p>
</div>	
<div id="poweredby">Powered by <a href="http://akosma.com">akosma&apos;s software</a> <a href="http://github.com/akosma/cortito/">cortito <%= CORTITO_VERSION %></a>
</div>

</body>
</html>
