<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Weebe.es - The Social Link Shortener- Coactlab</title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>
<div id='wrapper'>
<h1><a href="/">Weebe.es</a> - The Social Link Shortener -<a href="http://coactlab.com/blog"> By Coactlab</a></h1>
<h2>Share to  <a href="http://www.twitter.com/">Twitter</a>, <a href ="http://www.facebook.com">Facebook,</a> & <a href="http://www.facebook.com/advertising/?pages">Facebook Pages</a></h2>

<%= yield %>

</div>

<div id="info">
<p><strong>Bookmarklet for your browser:</strong> <%= link_to "shorten with weebe.es", "javascript:location.href='http://" + @host + "/?url='+encodeURIComponent(location.href);" %> (drag and drop on your bookmark toolbar)
Powered by <a href="http://akosma.com">akosma software</a>&apos;s <a href="http://github.com/akosma/cortito/">cortito <%= CORTITO_VERSION %></a>
</p>
</div>	

</body>
</html>
