<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Weebe.es - The Social Link Shortener- Coactlab</title>
  <%= stylesheet_link_tag 'scaffold' %>
  
</head>
<fb:iframe src="http://fb.adchap.com/showad.php?adchap_network=facebook&earn_id=3069&bdcolor=c6c6c6&bgcolor=f5f5f5&textcolor=000000&titlecolor=000000" width="646" height="33" frameborder="0" scrolling="no"></fb:iframe>
	<body>

		<div id="info">
		<a name="fb_share" type="button_count" share_url="weebe.es" href="http://www.facebook.com/sharer.php">Share Weebe.es on Facebook</a><script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>  | add the bookmarklet<%= link_to image_tag("weebees.png",:border=>0), "javascript:location.href='http://" + @host + "/?url='+encodeURIComponent(location.href);" %> to your toolbar &uarr; to share any website with weebe.es</div>

<div id="distance"></div>
<div id="wrapper">
<h1><span><a href="/">Weebe.es</a></span><br> The Social Link Shortener<small><a href="http://coactlab.com/blog"> By Coactlab</a></small>
<h2>Share to  <a href="http://www.twitter.com/">Twitter</a>, <a href ="http://www.facebook.com">Facebook,</a> & <a href="http://www.facebook.com/advertising/?pages">Facebook Pages</a></h2>
<%= yield %>
</div>

<div id="fbbox">
<script src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php/en_US" type="text/javascript"></script><script type="text/javascript">FB.init("c5d184ee00b43fbf13a20a1c46479a0b");</script><fb:fan profile_id="327364725313" stream="0" connections="0" width="200" height="70" ></fb:fan>
</div>

<script type="text/javascript" charset="utf-8">
  var is_ssl = ("https:" == document.location.protocol);
  var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
  document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
</script>

<script type="text/javascript" charset="utf-8">
  var feedback_widget_options = {};
  feedback_widget_options.display = "overlay";  
  feedback_widget_options.company = "coactlab";
  feedback_widget_options.placement = "right";
  feedback_widget_options.color = "#222";
  feedback_widget_options.style = "problem";
var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
</script>
</body>
</html>